body {
  margin: 20px 40px;
  background-color: #243447;
  color: #ffffff;
}

.job {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
  padding: 20px 20px;
  align-items: center;
}

.job:hover {
  cursor: pointer;
  color: royalblue;
}

.job-company {
  padding: 0 30px;
}

.job-dialog {
  padding: 30px 50px;
}

.job-title-location {
  margin-left: 20px;
  display: table-row;
}

.welcome-description {
  width: 80%;
  margin: 20px 0;
  padding: 20px 10px;
}

.welcome-item {
  opacity: 0;
  transition: .5s ease all;
}

.flex-align-mid {
  display: flex;
  align-items: center;
}

.pagination {
  margin: 20px 20px;
}

.alert-dialog-slide-title {
  display: flex;
  flex-direction: row;
}

.company-logo {
  border-radius: 50%;
}

.alert-dialog-slide-description {
  padding-bottom: 10px;
}


